/* UI element states pseudo-classes 

  These selectors are helpful when you have little to no access to html file. 
------------ */
input:focus,
textarea:focus{
  border-color: #52bab3;
}
input:disabled{
  background: #ddd;
  
}

input[type="checkbox"]:checked + label{
  font-weight: bold;
}